<a href="https://colab.research.google.com/github/chaitnya23/OOP_Lab_assignments/blob/main/oop_lab_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

problem-1

In [ ]:
import math as m
class circle:
  def __init__(self,radius):
    self.radius=radius

  def compute_Area(self):
    self.area = self.radius**2
    print(self.area)

  def compute_perimeter(self):
    self.peri = 2*m.pi*self.radius
    print(self.peri)


obj = circle(12)
print(obj.compute_Area())
print(obj.compute_perimeter())

144
None
75.39822368615503
None

problem-2

In [ ]:
class faculty:
  def __init__(self,name,id,branch,salary):
    self.name=name
    self.id=id
    self.branch=branch
    self.salary=salary

  def returnData(self):
    return [self.name,self.id,self.branch,self.salary]
    '''print("name : "+self.name)
    print("id : "+self.id)    
    print("branch : "+self.branch)    
    print("salary : "+self.salary) '''


faculties=[]
for i in range(3):
  name=input("enter name :")
  id=int(input("enter id: "))
  branch=input("enter the branch name ")
  salary=int(input("enter salary: "))
  faculty_obj = faculty(name,id,branch,salary)
  faculties.append(faculty_obj.returnData())
  print("\n\n")

print("data of the falculties : \n")
for i in faculties:
  print(i)

enter name :chaitnya
enter id: 123
enter the branch name cs
enter salary: 1200000
enter name :ash
enter id: 1234
enter the branch name 23000
enter salary: 23445
enter name :rohi
enter id: 123
enter the branch name ecs
enter salary: 110000
['chaitnya', 123, 'cs', 1200000]
['ash', 1234, '23000', 23445]
['rohi', 123, 'ecs', 110000]

problem-3

In [ ]:
class account:
  def __init__(self,name,acc_no,amount):
    self.name=name
    self.acc_no=acc_no
    self.amount=amount

  def deposit(self,d_amount):
    self.amount+=d_amount

  def withdraw(self,w_amount):
    self.amount-=w_amount

  def cheack_balance(self):
    print("your balance :" + str(self.amount))
  
  def getDeatails(self):
    print("Accont Details: ")
    print("name: " + self.name + " account number: "+ str(self.acc_no)+" amount remaining: "+ str(self.amount))


name = input("enter name :")
an=int(input(" account no. : "))
amount=int(input("enter total amount : "))

holder = account(name,an,amount)
holder.deposit(10000)
holder.withdraw(5000)
holder.cheack_balance()
holder.getDeatails()

enter name :chaitnya
 account no. : 12345
enter total amount : 1200000
your balance :1205000
Accont Details:
name: chaitnya account number: 12345 amount remaining: 1205000

problem-4

In [ ]:
class student:
  def __init__(self,name,usn,marks_list):
    self.name=name
    self.usn=usn
    self.marks_list=marks_list

  def displayData(self):
    print("name: "+self.name+"\nusn :"+str(self.usn))
    print("marks in respective 3 subjects :")
    for i in self.marks_list:
      print(i)

marks=[120,35,75]      

s1=student("chaitnya",1234,marks)
s1.displayData()

name: chaitnya
usn :1234
marks in respective 3 subjects :
120
35
75

problem-5

In [ ]:
class covidDatabase:

  def __init__(self):
    self.people_need_oxy=0
    self.totalPatient=0
    self.gwp=0

  def display_patient_GW(self):
    self.gwp=self.totalPatient-self.people_need_oxy
    print(self.gwp)

  def display_totalPatient(self):
    print(self.totalPatient)
  def display_patient_oxy(self):
    print(self.people_need_oxy)
  
  def cheack_ol(self,ol):
    if(ol<90):
      self.people_need_oxy+=1
      

class patient:
  def __init__(self,name,doa,los,ol,dod):
    self.name=name
    self.doa=doa
    self.los=los
    self.ol=ol
    self.dod=dod


db=covidDatabase()

for i in range(2):
  db.totalPatient+=1
  name=input("enter patient name :")
  doa=input("date of admission :")
  ol=int(input("enter the oxygen level : "))
  db.cheack_ol(ol)
  no_of_symptomps=int(input("no. of symptems :"))
  los=[]
  dod=input("enter patient's discharge date :")
  for i in range(no_of_symptomps):
    symptomp=input("enter symptomp :")
    los.append(symptomp)

  p=patient(name,doa,los,ol,dod)

print("no. of patients need oxygen are :")
db.display_patient_oxy()  
print("no. of patients in general ward are :")
db.display_patient_GW()

print("total pationts are :")
db.display_totalPatient()

enter patient name :john
date of admission :23
enter the oxygen level : 34
no. of symptems :2
enter patient's discharge date :2345
enter symptomp :cough
enter symptomp :omit
enter patient name :joe
date of admission :23062002
enter the oxygen level : 45
no. of symptems :2
enter patient's discharge date :24042002
enter symptomp :2
enter symptomp :cough hard
no. of patients need oxygen are :
2
no. of patients in general ward are :
0
total pationts are :
2

problem-6

In [ ]:
class time:

  def __init__(self):
    self.hh=0
    self.mm=0
    self.ss=0

  def settime(self,hh,mm,ss):
    self.hh=hh
    self.mm=mm
    self.ss=ss
  
  def displaytime(self):
    print("current time is: ")
    print(str(self.hh)+":"+str(self.mm)+":"+str(self.ss))


t1=time()

t1.settime(12,20,26)
t1.displaytime()

current time is:
12:20:26

problem-7

In [ ]:
class student:
  def __init__(self,name,age,roll_no):
    self.name=name
    self.age=age
    self.roll_no=roll_no

s1=student("rahul" ,21,33)    
s2=student("rohit" ,22,74)    

def compare_age(a,b):
  if(a==b):
    print("ages are equal ")
  else:
    print("not equal")  

compare_age(s1.age ,s2.age)

not equal

problem-8

In [ ]:
class student:

  def __init__(self,name,usn):
    self.name=name
    self.institute="IIIT Dharwad"
    self.sem="3rd sem"
    self.usn=usn

 
  def display_classvar(self):
    print(self.institute + self.sem)

  def display_instancevar(self):
    print(self.name+" "+str(self.usn))
s=student("chaitnya",20023)
s.display_classvar()   
s.display_instancevar()

IIIT Dharwad3rd sem
chaitnya 20023

problem-9

In [ ]:
class student:

  def __init__(self,name,roll,sem):
    self.name=name
    self.roll=roll
    self.sem=sem

  class laptop:
    def __init__(self,cpu,ram,hd):
      self.cpu=cpu
      self.ram=ram
      self.hd=hd
    def displayInfo(self):
      print(self.cpu+" "+self.ram+" "+self.hd)


s=student("naruto",1234,3)
print("the info of all laptop instances of instance of class student :")
sl=s.laptop("ryzen","16gb","556gb")
sl.displayInfo()


sl1=s.laptop("intel","6gb","1Tb")
sl1.displayInfo()


sl2=s.laptop("ryzen 7 ","8gb","64gb")
sl2.displayInfo()

the info of all laptop instances of instance of class student :
ryzen 16gb 556gb
intel 6gb 1Tb
ryzen 7  8gb 64gb